.button {
        -fx-text-fill: white;
        -fx-border-radius: 3;
        -fx-font-size: 30px;
        -fx-background-color: #e0218a;
        -fx-padding: 10;
  }

.root {
       -fx-background-color: lavenderblush;
  }

.text-field {
      -fx-border-color: #e0218a;
      -fx-border-radius: 3;
      -fx-border-width: 3px;
      -fx-font-size: 18px;
      -fx-text-fill: #e0218a;
      -fx-alignment: 'center-right';

  }

.myEqual {
         -fx-background-color: lavenderblush;
         -fx-border-color: hotpink;
         -fx-border-width: 2px;
         -fx-text-fill: black;
  }


.label{
      -fx-text-fill: hotpink;
      -fx-font-style: italic;
  }